.RData
.Rhistory
.Rprofile
.Rproj.user
*.doc
*.html
*.jpg
*.JPG
*.ods
*.odt
*.pdf
*.Rproj
*.svg
*.tex
*.xoj
*.zip
Figs/*
Misc/
Notes/
Output/*
packrat/*
packrat/lib*/
packrat/src/
Doc/biomed-central(4).csl~
Doc/references4.bib~
Doc/COTS_behaviour09.docx
Doc/Supplementary_tables.docx
Doc/Publication_process/*
Doc/Old/*
session_info.txt
